.details {
    height: 100vh;
    .details-image {
        position: relative;
        margin-bottom: 25px;
        img {
            width: 100%;
            height: 55vh;
            border-radius: 16px 16px 16px 100px;
        }
        .details-logo {
            position: absolute;
            bottom: 0;
            left: 0;
            img {
                width: 55px;
                height: 55px;
                border-radius: 27.5px;
            }
        }
        .details-due-date {
            position: absolute;
            bottom: 10px;
            right: 5px;
            padding: 6px 10px;
            background: #1d1e1c;
            border-radius: 26.8182px;
            font-family: "Helvetica";
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            letter-spacing: -0.541667px;
            color: #ffffff;
        }
    }
    .details-title {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: -0.2px;
        color: #1d1e1c;
        padding: 0 15px;
    }
    .details-description {
        height: 30vh;
        overflow:scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #1d1e1c;
        mix-blend-mode: normal;
        opacity: 0.75;
        table {
            width: 330px!important;
        }
    }
    .details-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        position: absolute;
        bottom: 0vh;
        left: 0;
        right: 0;
        text-align: center;
        height: 60px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #ffffff 100%);
    }
}
